<!doctype html>
<html>
<head>
<meta http-equiv="Content-type" content="text/html;
charset=UTF-8" />
<title>Strona z formularzem</title>
</head>
<body>
<form action="/wiadomosci" method="POST">
<input type="text" placeholder="nazwa zakupu:"
name="nazwa">
<br />
<input type="number" placeholder="kwota:"
name="kwota">
<br />
<input type="text" placeholder="cel:"
name="cel">
<br />
<button type="submit">Wyślij</button>
</form>
</body>
</html>