<!doctype html>
<html>
    <head>
        <meta http-equiv="Content=type" content="text/html" charset="UTF-8"/>
        <title>Form page</title>
    </head>

    <body>
        <form action="/messages" method="POST">
            <label for="name">Your name:</label>
            <input type="text" name="name"><br>

            <label for="surname">Surname:</label>
            <input type="text" name="surname"><br>

            <label for="message">Your message:</label>
            <input type="text" name="message"><br>

            <button type="submit">Submit</button>
        </form>
    </body>
</html>