<!doctype html>
<html>
<head>
<meta http-equiv="Content-type" content="text/html;
charset=UTF-8" />
<title>Strona z formularzem</title>
</head>
<body>
<form action="/wiadomosci" method="POST">
<input type="text" placeholder="twoje imię"
name="imie">
<br />
<input type="text" placeholder="twoje nazwisko:"
name="nazwisko">
<br />
<input type="text" placeholder="wiadomość:"
name="wiadomosc">
<br />
<button type="submit">Wyślij</button>
</form>
</body>
</html>