<!doctype html>
<html lang="pl">
    <head>
        <meta http-equiv="Content=type" content="text/html" charset="UTF-8"/>
        <title>Form page</title>
    </head>

    <body>
        <form action="/shopping" method="POST">
            <label for="product">product:</label>
            <input type="text" name="product"><br>

            <label for="cost">cost:</label>
            <input type="number" name="cost"><br>

            <label for="purpose">purpose:</label>
            <input type="text" name="purpose"><br>

            <button type="submit">Submit</button>
        </form>
    </body>
</html>